@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
}
@media only screen and (min-width: 1024px) {
  body {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-size: 61.25rem auto;
  }
}

.container {
  max-width: 23.438rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-items: center;
  grid-template-areas: "header" "hero" "main" "footer";
}
@media only screen and (min-width: 1024px) {
  .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header hero" "main hero" "footer hero";
  }
}

header {
  grid-area: header;
  width: 100%;
  padding: 1.875rem 0 1.875rem 1.875rem;
}
@media only screen and (min-width: 1024px) {
  header {
    padding: 0;
    margin-top: 3.75rem;
    margin-bottom: 8.75rem;
  }
}
header img {
  display: block;
  width: 6.25rem;
}
@media only screen and (min-width: 1024px) {
  header img {
    width: 10rem;
    margin-left: 10rem;
  }
}

.hero {
  grid-area: hero;
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 23.438rem;
  height: 15.625rem;
}
@media only screen and (min-width: 1024px) {
  .hero {
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
    width: 38.125rem;
    height: 100vh;
  }
}

main {
  grid-area: main;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main {
    text-align: left;
    width: 100%;
  }
}

h1 {
  padding: 4.063rem 0 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.1;
}
h1 span {
  font-weight: 600;
  color: hsl(0deg, 6%, 24%);
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4.25rem;
    padding: 0;
    margin-bottom: 1.25rem;
    margin-left: 10rem;
  }
}

.text_content {
  max-width: 19rem;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}
@media only screen and (min-width: 1024px) {
  .text_content {
    font-size: 1rem;
    max-width: 27rem;
    margin-left: 10rem;
    margin-right: 0;
    line-height: 1.7;
    margin-bottom: 3rem;
  }
}

form {
  max-width: 20rem;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  form {
    max-width: 28.125rem;
    margin-left: 10rem;
  }
}

fieldset {
  border: none;
}

label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.063rem;
  margin: -0.063rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

input {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 36%, 70%);
  background-color: transparent;
  border: hsl(0deg, 36%, 70%) 1px solid;
  border-radius: 30px;
  padding: 0.938rem 1.563rem;
  width: 100%;
  height: 3.125rem;
  margin-bottom: 0.525rem;
}
@media only screen and (min-width: 1024px) {
  input {
    height: 3.5rem;
    font-size: 1rem;
  }
}

input:focus {
  outline: none;
}

input::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
}

input:-ms-input-placeholder {
  color: hsl(0deg, 36%, 70%);
}

input::placeholder {
  color: hsl(0deg, 36%, 70%);
}

form.error input {
  border: hsl(0deg, 93%, 68%) 2px solid;
  color: hsl(0deg, 6%, 24%);
}

button {
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 3.125rem;
  padding: 0.938rem;
  border-radius: 25px;
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  box-shadow: 0 10px 20px rgba(206, 151, 151, 0.8);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
button:hover {
  opacity: 0.6;
}
@media only screen and (min-width: 1024px) {
  button {
    width: 6.25rem;
    height: 3.5rem;
  }
}

.error_icon {
  position: absolute;
  top: 0.781rem;
  right: 4.688rem;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .error_icon {
    right: 7.5rem;
    top: 0.938rem;
  }
}

form.error .error_icon,
form.error .error_message {
  display: block;
}

.error_message {
  margin-left: -2.625rem;
  color: hsl(0deg, 93%, 68%);
  display: none;
}
@media only screen and (min-width: 1024px) {
  .error_message {
    margin-left: 1.719rem;
  }
}

footer {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  place-items: center;
}
footer a {
  color: hsl(0deg, 6%, 24%);
}
@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: left;
  }
  footer .attribution {
    margin-left: 16.25rem;
  }
}/*# sourceMappingURL=style.css.map */